<!doctype html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Farm Equipment Sales, Service, and Repair</title>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
   </head>
   <body>
      <nav>
            <ul>
               <li><a class="nav-link" href="/">Home</a></li>
               <li><a class="nav-link" href="/sales">Sales</a></li>
               <li><a class="nav-link" href="/service">Service</a></li>
               <li><a class="nav-link" href="/about">About</a></li>
            </ul>
      </nav>
      <div>
      {{{body}}}
      </div>
      <script src="js/nav.js"></script>
   </body>
</html>