<h1>About FE Service & Repair</h1>

<p>FE Service & Repair is a full-service Farm Equipment shop. We work on all brands and types of farm implements, including John Deere, Case IH, and Kubota. No tractor, planter, harvester, or baler is too big or too small for our talented service technicians. We will also service small-engine equipment including mowers, ATVs, and UTVs.</p>
<p>Our shop has been in business for nearly 10 years, servicing more than 350 customers. We guarantee quality service and parts provided by friendly and knowledgeable technicians, but don't take our word for it. Read what our customers are saying about us!</p>

<h2>Customer Testimonials:</h2>
<div class="div-scroll">
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
<p>This is a test <em>- Steve Bryant</em></p>
</div>