<h1>Service</h1>

<p>FE Service & Repair offers in-garage service and repair as well as on-site calls. We will come to you when you need it most.</p>

<h2>Service & Repair Prices</h2>
<p>Check out our competitive labor pricing below! (parts are billed separately)</p>
<ul class="services">
   <li>In-Garage Service and Repair:
      <ul>
         <li>March-June: $30/hour</li>
         <li>July-August: $25/hour</li>
         <li>September-November: $35/hour</li>
         <li>December-February: $25/hour</li>
      </ul>
   </li>
   <li>On-Site Calls:
      <ul>
         <li>March-June: $50/hour</li>
         <li>July-August: $40/hour</li>
         <li>September-November: $45/hour</li>
         <li>December-February: $40/hour</li>
      </ul>
   </li>
</ul>
<h2>Directions To The Shop</h2>
<ul class="services">
   <li>From the East: 
      <ol>
         <li>Take RT. 136 West through Macomb</li>
         <li>Continue to follow RT. 136 West through Colchester and Tennessee</li>
         <li>Turn right to continue on RT. 136/110 West</li>
         <li>Turn left onto N. County Road 2300</li>
         <li>The Shop will be on your left</li>
      </ol>
   </li>
   <li>From the West:
      <ol>
         <li>Take RT. 136 East from Keokuk through Hamilton</li>
         <li>Continue to follow RT. 136 West through Elvaston and Carthage</li>
         <li>Turn left to merge onto RT. 136/110 East</li>
         <li>Turn right onto N. County Road 2300</li>
         <li>The Shop will be on your left</li>
      </ol>
   </li>
</ul>

<div class="div-btn"><a href="/pdf/map.pdf" download>Download Map</a></div>
