<h1>Service</h1>

<p>Farm Equipment Sales, Service and Repair offers in-garage service and repair as well as on-site calls.</p>
<p>We will come to you when you need it most.</p>
<br>
<p>Check out our competitive labor pricing below! (parts are billed separately)</p>
<ul class="services">
   <li>In-Garage Service and Repair:</li>
   <ul>
      <li>March-June: $30/hour</li>
      <li>July-August: $25/hour</li>
      <li>September-November: $35/hour</li>
      <li>December-February: $25/hour</li>
   </ul>
   <li>On-Site Calls:</li>
<ul>